/*
    AWS Batch production config
*/
process {
    executor = 'awsbatch'
    queue    = 'seqera-aws-batch-queue'
    errorStrategy = 'retry'
    maxRetries = 3
}
aws {
    region = 'us-east-1'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
        maxParallelTransfers = 8
    }
}
fusion { enabled = true }
wave  { enabled = true }
